<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
		xmlns:android="http://schemas.android.com/apk/res/android" 
		id="com.estafeta.usbcameraplugin" 
		version="1.0.0">
		
   <name>USBCameraPlugin</name>
   
   <js-module name="USBCameraPlugin" src="www/USBCameraPlugin.js">
      <clobbers target="cordova.plugins.USBCameraPlugin" />
   </js-module>
   
   <platform name="android">
      //adds AndroidX support
      <hook type="after_prepare" src="scripts/apply-to-gradle.properties.js" />

      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="USBCameraPlugin">
            <param name="android-package" value="com.estafeta.usbcameraplugin.USBCameraPlugin" />
         </feature>
      </config-file>
	  
		<config-file parent="/*" target="AndroidManifest.xml" />
		<!-- com.estafeta.usbcameraplugin.USBCameraPlugin -->
        <source-file src="src/android/USBCameraPlugin.java" target-dir="src/com/estafeta/usbcameraplugin/USBCameraPlugin/" />
		<source-file src="src/android/MainActivity.java" target-dir="src/com/estafeta/usbcameraplugin/USBCameraPlugin/" />
<!--		<source-file src="src/proguard-rules.pro" target-dir="/" />-->
		<!-- com.estafeta.usbcameraplugin.com.jiangdg.usbcameraplugin.utils -->
		<source-file src="src/android/com/jiangdg/usbcamera/utils/FileUtils.java" target-dir="src/com/estafeta/usbcameraplugin/com/jiangdg/usbcamera/utils/" />
	   <source-file src="src/android/com/jiangdg/usbcamera/utils/XLogWrapper.java" target-dir="src/com/estafeta/usbcameraplugin/com/jiangdg/usbcamera/utils/" />
	   <source-file src="src/android/com/jiangdg/usbcamera/utils/BuildCheck.java" target-dir="src/com/estafeta/usbcameraplugin/com/jiangdg/usbcamera/utils/" />
	   <source-file src="src/android/com/jiangdg/usbcamera/utils/HandlerThreadHandler.java" target-dir="src/com/estafeta/usbcameraplugin/com/jiangdg/usbcamera/utils/" />
		<!-- com.estafeta.usbcameraplugin.com.jiangdg.usbcamera -->
		<source-file src="src/android/com/jiangdg/usbcamera/UVCCameraHelper.java" target-dir="src/com/estafeta/usbcameraplugin/com/jiangdg/usbcamera/" />
		<!-- com.estafeta.usbcameraplugin.com.serenegiant.usb.common -->
		<source-file src="src/android/com/serenegiant/usb/common/AbstractUVCCameraHandler.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/common/" />
		<source-file src="src/android/com/serenegiant/usb/common/UVCCameraHandler.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/common/" />
		<source-file src="src/android/com/serenegiant/usb/common/UVCCameraHandlerMultiSurface.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/common/" />
		<!-- com.estafeta.usbcameraplugin.com.serenegiant.usb.encoder.biz -->
		<source-file src="src/android/com/serenegiant/usb/encoder/biz/AACEncodeConsumer.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/biz/" />
		<source-file src="src/android/com/serenegiant/usb/encoder/biz/H264EncodeConsumer.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/biz/" />
		<source-file src="src/android/com/serenegiant/usb/encoder/biz/Mp4MediaMuxer.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/biz/" />
		<!-- com.estafeta.usbcameraplugin.com.serenegiant.usb.encoder -->
		<source-file src="src/android/com/serenegiant/usb/encoder/IAudioEncoder.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/" />
		<source-file src="src/android/com/serenegiant/usb/encoder/IVideoEncoder.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/" />
		<source-file src="src/android/com/serenegiant/usb/encoder/MediaAudioEncoder.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/" />
		<source-file src="src/android/com/serenegiant/usb/encoder/MediaEncoder.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/" />
		<source-file src="src/android/com/serenegiant/usb/encoder/MediaMuxerWrapper.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/" />
		<source-file src="src/android/com/serenegiant/usb/encoder/MediaSurfaceEncoder.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/" />
		<source-file src="src/android/com/serenegiant/usb/encoder/MediaVideoBufferEncoder.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/" />
		<source-file src="src/android/com/serenegiant/usb/encoder/MediaVideoEncoder.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/" />
		<source-file src="src/android/com/serenegiant/usb/encoder/RecordParams.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/encoder/" />
		<!-- com.estafeta.usbcameraplugin.com.serenegiant.usb.widget -->
		<source-file src="src/android/com/serenegiant/usb/widget/AspectRatioTextureView.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/widget/" />
		<source-file src="src/android/com/serenegiant/usb/widget/CameraViewInterface.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/widget/" />
		<source-file src="src/android/com/serenegiant/usb/widget/UVCCameraTextureView.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/widget/" />
		<!-- com.estafeta.usbcameraplugin.com.serenegiant.usb -->
		<source-file src="src/android/com/serenegiant/usb/CameraDialog.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/" />
		<source-file src="src/android/com/serenegiant/usb/DeviceFilter.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/" />
		<source-file src="src/android/com/serenegiant/usb/IButtonCallback.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/" />
		<source-file src="src/android/com/serenegiant/usb/IFrameCallback.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/" />
		<source-file src="src/android/com/serenegiant/usb/IStatusCallback.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/" />
		<source-file src="src/android/com/serenegiant/usb/Size.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/" />
		<source-file src="src/android/com/serenegiant/usb/USBMonitor.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/" />
		<source-file src="src/android/com/serenegiant/usb/USBVendorId.java" target-dir="src/com/estafeta/usbcameraplugin/com/serenegiant/usb/" />
		<source-file src="src/android/com/serenegiant/usb/UVCCamera.java" target-dir="src/com/estafeta/usbcameraplugin/com/jiangdg/uvc/" />
		<!-- com.estafeta.usbcameraplugin.org.easydarwin.sw -->
		<source-file src="src/android/org/easydarwin/sw/JNIUtil.java" target-dir="src/com/estafeta/usbcameraplugin/org/easydarwin/sw/" />
		<source-file src="src/android/org/easydarwin/sw/TxtOverlay.java" target-dir="src/com/estafeta/usbcameraplugin/org/easydarwin/sw/" />
		
		<source-file src="res/xml/device_filter.xml" target-dir="res/xml/" />
		<source-file src="res/values/dimens.xml" target-dir="res/values/" />
		<!--<source-file src="res/values/strings.xml" target-dir="res/values/" />-->
		
		<source-file src="res/layout/dialog_camera.xml" target-dir="res/layout/" />
		<source-file src="res/layout/listitem_device.xml" target-dir="res/layout/" />
		<source-file src="res/layout/activity_main.xml" target-dir="res/layout/" />
		
		<source-file src="res/drawable/rounded_corners.xml" target-dir="res/drawable/" />
		
		<source-file src="jniLibs/arm64-v8a/libjpeg-turbo1500.so" target-dir="jniLibs/arm64-v8a/" />
		<source-file src="jniLibs/arm64-v8a/libTxtOverlay.so" target-dir="jniLibs/arm64-v8a/" />
		<source-file src="jniLibs/arm64-v8a/libusb100.so" target-dir="jniLibs/arm64-v8a/" />
		<source-file src="jniLibs/arm64-v8a/libUtils.so" target-dir="jniLibs/arm64-v8a/" />		
		<source-file src="jniLibs/arm64-v8a/libuvc.so" target-dir="jniLibs/arm64-v8a/" />
		<source-file src="jniLibs/arm64-v8a/libUVCCamera.so" target-dir="jniLibs/arm64-v8a/" />
		
		<source-file src="jniLibs/armeabi-v7a/libjpeg-turbo1500.so" target-dir="jniLibs/armeabi-v7a/" />
		<source-file src="jniLibs/armeabi-v7a/libTxtOverlay.so" target-dir="jniLibs/armeabi-v7a/" />
		<source-file src="jniLibs/armeabi-v7a/libusb100.so" target-dir="jniLibs/armeabi-v7a/" />
		<source-file src="jniLibs/armeabi-v7a/libUtils.so" target-dir="jniLibs/armeabi-v7a/" />		
		<source-file src="jniLibs/armeabi-v7a/libuvc.so" target-dir="jniLibs/armeabi-v7a/" />
		<source-file src="jniLibs/armeabi-v7a/libUVCCamera.so" target-dir="jniLibs/armeabi-v7a/" />		
		
<!--		<source-file src="jniLibs/x86/libjpeg-turbo1500.so" target-dir="jniLibs/x86/" />-->
<!--		<source-file src="jniLibs/x86/libusb100.so" target-dir="jniLibs/x86/" />-->
<!--		<source-file src="jniLibs/x86/libuvc.so" target-dir="jniLibs/x86/" />-->
<!--		<source-file src="jniLibs/x86/libUVCCamera.so" target-dir="jniLibs/x86/" />			-->
<!--		-->
<!--		<source-file src="jniLibs/x86_64/libjpeg-turbo1500.so" target-dir="jniLibs/x86_64/" />-->
<!--		<source-file src="jniLibs/x86_64/libusb100.so" target-dir="jniLibs/x86_64/" />-->
<!--		<source-file src="jniLibs/x86_64/libuvc.so" target-dir="jniLibs/x86_64/" />-->
<!--		<source-file src="jniLibs/x86_64/libUVCCamera.so" target-dir="jniLibs/x86_64/" />			-->



	   <config-file target="proguard-rules.pro" parent="/*">
		   <![CDATA[
			-keep class com.jiangdg.uvc.** { *; }
			-keepclassmembers class * {
				native <methods>;
			}
        ]]>
	   </config-file>

	   <framework src="src/android/camera.gradle" custom="true" type="gradleReference"/>
	   <framework src="com.elvishew:xlog:1.11.1" />
<!--	   <framework src="com.jiangdg.uvccamera:uvccamera:3.3.3" />-->
	   <lib-file src="libs/common-4.1.1.aar"/>
			
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="New Activity" android:name="com.estafeta.usbcameraplugin.MainActivity"></activity>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-feature android:name="android.hardware.usb.host"/>
			<uses-feature android:name="android.hardware.camera" />			
        </config-file>		
	  
   </platform>
</plugin>